# Dependency directory
node_modules

# Dot files
.node-persist

# Log files
debug.log

# Session files
*.data.json

# Lock files
package-lock.json

# Temp files
temp/audio/*
temp/image/*
temp/video/*
temp/webp/*

# Databases
database/*
